In [5]:
import pandas as pd
import numpy as np
import datetime 
import seaborn as sns
import glob

In [2]:
df= pd.read_csv('master_final_220708_택시요금추가.csv')
df.head()

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,direction,start_lat,...,duration,taxiFare_N,y_b_time,b_s_time,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds,taxiFare_I,taxiFare_J
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,장위제1동회기동,127.043713,...,648.464,5600,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08,882,926,1808,7700,1500
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,면목제7동상계1동,127.086985,...,1318.675,13700,0 days 00:33:37,0 days 00:28:45,0 days 01:02:22,2017,1725,3742,16200,3200
2,중형승합,2018-01-23 00:17:06,2018-01-23 00:17:39,2018-01-23 00:30:00,성북구,정릉제3동,강북구,수유제3동,정릉제3동수유제3동,127.004186,...,864.161,6200,0 days 00:00:33,0 days 00:12:21,0 days 00:12:54,33,741,774,8200,1500
3,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,고척제2동은천동,126.858712,...,1652.785,11000,0 days 00:04:19,0 days 00:18:14,0 days 00:22:33,259,1094,1353,12700,2900
4,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,회기동장위제2동,127.055313,...,598.639,5200,0 days 00:36:17,0 days 00:22:36,0 days 00:58:53,2177,1356,3533,7300,1500