In [147]:
import pandas as pd
import numpy as np
import datetime  as dt
import seaborn as sns
import glob

In [148]:
df= pd.read_csv('master_final_220708_택시요금추가.csv')
df.head()

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,direction,start_lat,...,duration,taxiFare_N,y_b_time,b_s_time,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds,taxiFare_I,taxiFare_J
0,중형승합,2018-01-23 00:04:00,2018-01-23 00:18:42,2018-01-23 00:34:08,성북구,장위제1동,동대문구,회기동,장위제1동회기동,127.043713,...,648.464,5600,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08,882,926,1808,7700,1500
1,중형승합,2018-01-23 00:17:00,2018-01-23 00:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,면목제7동상계1동,127.086985,...,1318.675,13700,0 days 00:33:37,0 days 00:28:45,0 days 01:02:22,2017,1725,3742,16200,3200
2,중형승합,2018-01-23 00:17:06,2018-01-23 00:17:39,2018-01-23 00:30:00,성북구,정릉제3동,강북구,수유제3동,정릉제3동수유제3동,127.004186,...,864.161,6200,0 days 00:00:33,0 days 00:12:21,0 days 00:12:54,33,741,774,8200,1500
3,중형승합,2018-01-23 00:47:00,2018-01-23 00:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,고척제2동은천동,126.858712,...,1652.785,11000,0 days 00:04:19,0 days 00:18:14,0 days 00:22:33,259,1094,1353,12700,2900
4,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,회기동장위제2동,127.055313,...,598.639,5200,0 days 00:36:17,0 days 00:22:36,0 days 00:58:53,2177,1356,3533,7300,1500

In [149]:
df.sort_values(by = '배차시간')

,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,direction,start_lat,...,duration,taxiFare_N,y_b_time,b_s_time,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds,taxiFare_I,taxiFare_J
4480,중형승합,2018-01-01 00:03:00,2018-01-01 02:19:23,2018-01-01 02:48:48,중구,명동,용산구,한강로동,명동한강로동,126.985850,...,777.828,8200,0 days 02:16:23,0 days 00:29:25,0 days 02:45:48,8183,1765,9948,10700,2300
4481,중형승합,2018-01-01 00:04:00,2018-01-01 02:24:19,2018-01-01 02:46:04,서초구,반포1동,강서구,등촌제3동,반포1동등촌제3동,127.013507,...,1565.270,16600,0 days 02:20:19,0 days 00:21:45,0 days 02:42:04,8419,1305,9724,19900,3500
4482,중형승합,2018-01-01 00:08:00,2018-01-01 02:27:53,2018-01-01 02:48:29,강북구,인수동,노원구,하계2동,인수동하계2동,127.010631,...,1363.781,8200,0 days 02:19:53,0 days 00:20:36,0 days 02:40:29,8393,1236,9629,10300,2100
4487,중형승합,2018-01-01 00:27:00,2018-01-01 02:42:20,2018-01-01 03:15:58,강서구,방화제1동,동작구,노량진제1동,방화제1동노량진제1동,126.817026,...,1869.727,15500,0 days 02:15:20,0 days 00:33:38,0 days 02:48:58,8120,2018,10138,18100,3300
4488,중형승합,2018-01-01 00:31:00,2018-01-01 02:47:07,2018-01-01 03:01:41,영등포구,여의동,강북구,우이동,여의동우이동,126.934584,...,2419.303,23500,0 days 02:16:07,0 days 00:14:34,0 days 02:30:41,8167,874,9041,26900,4100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406841,중형승합,2022-06-25 05:38:25,2022-06-25 08:18:25,2022-06-25 08:28:01,광진구,중곡제1동,은평구,진관동,중곡제1동진관동,127.080038,...,2381.215,20000,0 days 02:40:00,0 days 00:09:36,0 days 02:49:36,9600,576,10176,65800,3700
406842,중형승합,2022-06-25 05:43:37,2022-06-25 08:18:46,2022-06-25 08:26:22,동작구,대방동,영등포구,양평제1동,대방동양평제1동,126.926350,...,726.652,7330,0 days 02:35:09,0 days 00:07:36,0 days 02:42:45,9309,456,9765,21200,1500
406843,중형승합,2022-06-25 06:26:20,2022-06-25 08:19:33,2022-06-25 08:26:21,양천구,신월7동,중구,회현동,신월7동회현동,126.834657,...,2066.499,16200,0 days 01:53:13,0 days 00:06:48,0 days 02:00:01,6793,408,7201,51900,3300
406844,중형승합,2022-06-25 07:35:19,2022-06-25 08:19:49,2022-06-25 08:29:39,서대문구,홍제제1동,서초구,양재2동,홍제제1동양재2동,126.944878,...,3551.805,22600,0 days 00:44:30,0 days 00:09:50,0 days 00:54:20,2670,590,3260,61000,3600
406845,중형승합,2022-06-25 07:17:47,2022-06-25 08:20:00,2022-06-25 08:33:47,도봉구,도봉제1동,동대문구,전농제2동,도봉제1동전농제2동,127.043437,...,2072.949,13600,0 days 01:02:13,0 days 00:13:47,0 days 01:16:00,3733,827,4560,44800,3100

In [150]:
df["예정시간"]=pd.to_datetime(df["예정시간"])
df['배차시간']= pd.to_datetime(df['배차시간'])
df["승차시간"]=pd.to_datetime(df["승차시간"])


# df['배차시간_y'] = df['배차시간'].dt.year
# df['배차시간_h'] = df['배차시간'].dt.hour

df['배차시간_yh'] = df['배차시간'].dt.strftime('%Y%m')

In [151]:
df.iloc[:,-7:].head()

,y_s_time,y_b_seconds,b_s_seconds,y_s_seconds,taxiFare_I,taxiFare_J,배차시간_yh
0,0 days 00:30:08,882,926,1808,7700,1500,201801
1,0 days 01:02:22,2017,1725,3742,16200,3200,201801
2,0 days 00:12:54,33,741,774,8200,1500,201801
3,0 days 00:22:33,259,1094,1353,12700,2900,201801
4,0 days 00:58:53,2177,1356,3533,7300,1500,201801

In [152]:
#기준년월, 구 , Taxifare만 남기기 
df_new = df[['배차시간_yh','startpos1','taxiFare_I']]
df_new

       배차시간_yh startpos1  taxiFare_I
0       201801       성북구        7700
1       201801       중랑구       16200
2       201801       성북구        8200
3       201801       구로구       12700
4       201801      동대문구        7300
...        ...       ...         ...
407548  202206       성북구       48400
407549  202206       은평구       12000
407550  202206       노원구      127800
407551  202206       성북구       21000
407552  202206       강동구       17100

[407553 rows x 3 columns]

In [153]:
df_new = df_new.groupby(['startpos1','배차시간_yh']).sum()["taxiFare_I"].reset_index()
df_new.rename(columns = {'startpos1':'구','배차시간_yh':'기준년월','taxiFare_I':'택시요금'},inplace=True)
# df_new = df_new[df_new['구'] in ('강서구','강북구','노원구','서대문구','강동구','은평구')]
# csv로 저장합니다.
df_new.to_csv('master_final_220711_구별택시요금.csv', index= False, encoding = 'utf-8')