## Setting
- NO:차량고유번호
- CARTYPE:차량타입
- RECEIPTIME:배차예정일시
- SETTIME:실제배차일시
- RIDETIME:탑승일시
- STARTPOS1:출발지구군
- STARTPOS2:출발지상세
- ENDPOS1:목적지구군
- ENDPOS2:목적지상세

In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob ##경로지정

In [63]:
paths = glob.glob('./data/*.csv')
paths[0]

'./data/master.csv'

In [64]:
df = pd.read_csv(paths[0])
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동

In [65]:
df.shape

(407613, 10)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407613 entries, 0 to 407612
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   407613 non-null  int64
 1   no           407613 non-null  int64
 2   cartype      407603 non-null  object
 3   receipttime  407613 non-null  object
 4   settime      407583 non-null  object
 5   ridetime     407603 non-null  object
 6   startpos1    407613 non-null  object
 7   startpos2    407613 non-null  object
 8   endpos1      407613 non-null  object
 9   endpos2      407613 non-null  object
dtypes: int64(2), object(8)
memory usage: 31.1+ MB

## Cleansing
### receipttime, settime, ridetime
- 동일한 datetimeindex로 자료형 변환
- 각 차이 시간 계산한 새로운 칼럼 생성

In [67]:
import datetime as dt

In [68]:
df_reiptime_pm = df[df['receipttime'].str.contains('오후', na = False)]

# 오후 1시 이후로 호출시간이 적제 되었는지 체크 ✒︎ 오후 1시까지만 있음 확인
df_reiptime_pm[df_reiptime_pm['receipttime'].str.contains('오후 1:', na = False)] 
df_reiptime_pm[df_reiptime_pm['receipttime'].str.contains('오후 1:', na = False)] ## 오전12시 ✒︎ 밤12시 | 오후12시 ✒︎ 낮12시

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
198438,198438,1528,중형 승합,2020-03-01 오후 1:00:00,2020-03-01 오후 1:02:07,2020-03-01 오후 1:11:34,광진구,능동,중랑구,묵제1동
198439,198439,7817,중형승합,2020-03-01 오후 1:00:00,2020-03-01 오후 1:01:34,2020-03-01 오후 1:11:25,영등포구,신길제6동,강서구,가양제1동
198440,198440,9548,중형승합,2020-03-01 오후 1:01:00,2020-03-01 오후 1:31:25,2020-03-01 오후 1:33:34,양천구,신정7동,양천구,목1동
198441,198441,6184,중형 승합,2020-03-01 오후 1:03:00,2020-03-01 오후 1:13:23,2020-03-01 오후 1:20:56,은평구,진관동,고양시덕양구,창릉동
198442,198442,7647,중형승합,2020-03-01 오후 1:06:00,2020-03-01 오후 1:29:03,2020-03-01 오후 1:39:33,양천구,목5동,강서구,화곡제8동
...,...,...,...,...,...,...,...,...,...,...
275887,275887,3573,중형 승합,2021-01-03 오후 1:17:19,2021-01-03 오후 1:21:08,2021-01-03 오후 1:25:41,광진구,구의제3동,강남구,논현2동
275888,275888,1550,중형 승합,2021-01-03 오후 1:18:12,2021-01-03 오후 1:30:47,2021-01-03 오후 1:42:14,강동구,고덕제1동,종로구,이화동
275889,275889,5755,중형승합,2021-01-03 오후 1:19:00,2021-01-03 오후 1:27:44,2021-01-03 오후 1:40:59,동대문구,답십리제2동,은평구,대조동
275890,275890,3562,중형 승합,2021-01-03 오후 1:19:00,2021-01-03 오후 1:26:20,2021-01-03 오후 1:51:02,은평구,신사제2동,은평구,대조동
275891,275891,808,중형승합,2021-01-03 오후 1:20:00,2021-01-03 오후 1:28:58,2021-01-03 오후 1:34:40,강서구,화곡제1동,양천구,신정7동

In [73]:
# '오전','오후' 명칭 없애고 24시간제로 변환하기
df['am'] = pd.to_datetime(df[df['ridetime'].str.contains('오전',na = False)]['ridetime'].str.replace('오전',''))
df['pm'] = pd.to_datetime(df[df['ridetime'].str.contains('오후',na = False)]['ridetime'].str.replace('오후','')) + dt.timedelta(hours = 12)
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,NaT
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,NaT
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,NaT
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,NaT
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,NaT

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407613 entries, 0 to 407612
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   407613 non-null  int64
 1   no           407613 non-null  int64
 2   cartype      407603 non-null  object
 3   receipttime  407613 non-null  object
 4   settime      407583 non-null  object
 5   ridetime     407603 non-null  object
 6   startpos1    407613 non-null  object
 7   startpos2    407613 non-null  object
 8   endpos1      407613 non-null  object
 9   endpos2      407613 non-null  object
 10  am           406366 non-null  datetime64[ns]
 11  pm           1237 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 37.3+ MB

null값 확인하기

In [75]:
print(df['am'].isnull().sum())
print(df['pm'].isnull().sum())

1247
406376

In [76]:
df[df['pm'].notnull()]

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
64242,64242,1567,중형 승합,2018-09-12 오전 12:10:00,2018-09-11 오후 11:58:30,2018-09-11 오후 11:59:32,강동구,천호제3동,강북구,수유제3동,NaT,2018-09-11 23:59:32
66484,66484,1194,중형승합,2018-09-19 오전 12:25:00,2018-09-18 오후 11:56:12,2018-09-18 오후 11:58:00,하남시,신장2동,강동구,천호제3동,NaT,2018-09-18 23:58:00
68475,68475,7582,중형승합,2018-10-02 오전 12:30:00,2018-10-01 오후 11:57:28,2018-10-01 오후 11:57:42,하남시,풍산동,강동구,천호제3동,NaT,2018-10-01 23:57:42
70716,70716,7633,중형승합,2018-10-10 오전 12:15:00,2018-10-09 오후 11:44:13,2018-10-09 오후 11:44:49,하남시,풍산동,강동구,천호제3동,NaT,2018-10-09 23:44:49
75449,75449,9543,중형승합,2018-10-26 오전 12:30:00,2018-10-25 오후 10:52:59,2018-10-25 오후 11:49:00,강서구,가양제3동,마포구,합정동,NaT,2018-10-25 23:49:00
...,...,...,...,...,...,...,...,...,...,...,...,...
353829,353829,8085,중형 승합,2021-11-28 오전 12:03:00,2021-11-27 오후 11:41:27,2021-11-27 오후 11:41:51,남양주시,호평동,노원구,중계4동,NaT,2021-11-27 23:41:51
374247,374247,7906,중형승합,2022-02-01 오전 12:05:00,2022-01-31 오후 11:44:29,2022-01-31 오후 11:46:41,성남시수정구,신흥3동,영등포구,대림제1동,NaT,2022-01-31 23:46:41
383709,383709,8094,중형 승합,2022-03-25 오전 12:08:00,2022-03-24 오후 11:39:42,2022-03-24 오후 11:39:51,고양시덕양구,대덕동,은평구,구산동,NaT,2022-03-24 23:39:51
402135,402135,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06
402136,402136,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06

am, pm 둘다 null값 존재 확인

In [77]:
print(len(df[df['am'].isnull() == df['pm'].isnull()]))
df[df['am'].isnull() == df['pm'].isnull()] ## ridetime null값 인값 존재 -> 차량 정보 누락 10행 제거

10

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
355291,355291,0,NaN,2021-11-03 오전 7:05:00,2021-11-03 오전 7:13:12,NaN,강동구,암사제3동,동대문구,답십리제3동,NaT,NaT
355510,355510,0,NaN,2021-11-17 오전 7:00:00,2021-11-17 오전 7:09:02,NaN,노원구,중계2.3동,종로구,종로1.2.3.4가동,NaT,NaT
355938,355938,0,NaN,2021-11-02 오전 7:00:00,2021-11-02 오전 7:00:57,NaN,용산구,이촌제1동,서초구,반포4동,NaT,NaT
368804,368804,0,NaN,2022-01-31 오전 7:00:00,2022-01-31 오전 7:02:42,NaN,서대문구,홍은제2동,마포구,대흥동,NaT,NaT
377905,377905,0,NaN,2022-02-20 오전 9:26:00,2022-02-20 오전 9:35:58,NaN,강동구,길동,성동구,마장동,NaT,NaT
379979,379979,0,NaN,2022-03-07 오전 4:17:00,2022-03-07 오전 4:25:05,NaN,광진구,중곡제4동,마포구,서교동,NaT,NaT
394915,394915,0,NaN,2022-05-14 오전 12:06:00,2022-05-14 오전 12:08:51,NaN,동대문구,전농제2동,강북구,번제1동,NaT,NaT
400525,400525,0,NaN,2022-05-31 오전 7:00:00,2022-05-31 오전 7:04:29,NaN,양천구,목4동,구로구,구로제2동,NaT,NaT
404931,404931,0,NaN,2022-06-06 오전 7:00:00,2022-06-06 오전 7:08:49,NaN,강서구,등촌제3동,은평구,구산동,NaT,NaT
406663,406663,0,NaN,2022-06-25 오전 7:00:00,2022-06-25 오전 7:08:49,NaN,노원구,상계10동,동대문구,전농제2동,NaT,NaT

In [78]:
df = df.dropna(subset=['am', 'pm'], how='all') 
df #407613 -> 407603

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,NaT
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,NaT
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,NaT
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,NaT
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
407608,407608,8579,대형 승용,2022-06-24 오전 7:00:00,2022-06-24 오전 6:54:20,2022-06-24 오전 7:17:08,성북구,돈암제2동,강남구,대치4동,2022-06-24 07:17:08,NaT
407609,407609,8006,중형 승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:07:58,2022-06-24 오전 7:42:04,은평구,구산동,은평구,구산동,2022-06-24 07:42:04,NaT
407610,407610,8261,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:04:58,2022-06-24 오전 7:16:19,노원구,상계8동,영등포구,영등포동,2022-06-24 07:16:19,NaT
407611,407611,1558,중형 승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:03:25,2022-06-24 오전 7:27:10,성북구,길음제1동,강북구,번제1동,2022-06-24 07:27:10,NaT
407612,407612,5725,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:10:22,2022-06-24 오전 7:20:46,강동구,천호제2동,강동구,명일제1동,2022-06-24 07:20:46,NaT

am, pm 합치기

In [87]:
# df['am'][0] + df['pm'][0] ## NaT는 연산이 불가능 하므로 0으로 대체

Timestamp('2018-01-23 12:34:08')

In [88]:
dt.timedelta(hours=0)

datetime.timedelta(0)

In [90]:
df['am'] = df['am'].fillna(dt.timedelta(hours=0))
df['pm'] = df['pm'].fillna(dt.timedelta(hours=0))

In [ ]:
승차_val = []
for i in range(len(df)):
    try:
        val = df['am'] + df['pm']
        승차_val.append(val)
    except:
        승차_val.append(datetime.timedelta(hours=0))

참고-은디쿵디의 깃허브https://github.com/eeuunnzzyy/eeuunnzzyy/blob/main/The%20Transportation%20Vulnerable%20Project/.ipynb_checkpoints/000%20Dailydata%20Cleansing%20%26%20EDA-checkpoint.ipynb