## Setting
- NO:차량고유번호
- CARTYPE:차량타입
- RECEIPTIME:배차예정일시
- SETTIME:실제배차일시
- RIDETIME:탑승일시
- STARTPOS1:출발지구군
- STARTPOS2:출발지상세
- ENDPOS1:목적지구군
- ENDPOS2:목적지상세

In [180]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob ##경로지정

In [181]:
paths = glob.glob('./data/*.csv')
paths[1]

'./data/master.csv'

In [182]:
df = pd.read_csv(paths[1])
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동

In [183]:
df.shape

(407613, 10)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407613 entries, 0 to 407612
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   407613 non-null  int64
 1   no           407613 non-null  int64
 2   cartype      407603 non-null  object
 3   receipttime  407613 non-null  object
 4   settime      407583 non-null  object
 5   ridetime     407603 non-null  object
 6   startpos1    407613 non-null  object
 7   startpos2    407613 non-null  object
 8   endpos1      407613 non-null  object
 9   endpos2      407613 non-null  object
dtypes: int64(2), object(8)
memory usage: 31.1+ MB

## Cleansing
### receipttime, settime, ridetime
- 동일한 datetimeindex로 자료형 변환
- 각 차이 시간 계산한 새로운 칼럼 생성

In [185]:
import datetime as dt

In [186]:
df_reiptime_pm = df[df['receipttime'].str.contains('오후', na = False)]

# 오후 1시 이후로 호출시간이 적제 되었는지 체크 ✒︎ 오후 1시까지만 있음 확인
df_reiptime_pm[df_reiptime_pm['receipttime'].str.contains('오후 1:', na = False)] 
df_reiptime_pm[df_reiptime_pm['receipttime'].str.contains('오후 1:', na = False)] ## 오전12시 ✒︎ 밤12시 | 오후12시 ✒︎ 낮12시

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
198438,198438,1528,중형 승합,2020-03-01 오후 1:00:00,2020-03-01 오후 1:02:07,2020-03-01 오후 1:11:34,광진구,능동,중랑구,묵제1동
198439,198439,7817,중형승합,2020-03-01 오후 1:00:00,2020-03-01 오후 1:01:34,2020-03-01 오후 1:11:25,영등포구,신길제6동,강서구,가양제1동
198440,198440,9548,중형승합,2020-03-01 오후 1:01:00,2020-03-01 오후 1:31:25,2020-03-01 오후 1:33:34,양천구,신정7동,양천구,목1동
198441,198441,6184,중형 승합,2020-03-01 오후 1:03:00,2020-03-01 오후 1:13:23,2020-03-01 오후 1:20:56,은평구,진관동,고양시덕양구,창릉동
198442,198442,7647,중형승합,2020-03-01 오후 1:06:00,2020-03-01 오후 1:29:03,2020-03-01 오후 1:39:33,양천구,목5동,강서구,화곡제8동
...,...,...,...,...,...,...,...,...,...,...
275887,275887,3573,중형 승합,2021-01-03 오후 1:17:19,2021-01-03 오후 1:21:08,2021-01-03 오후 1:25:41,광진구,구의제3동,강남구,논현2동
275888,275888,1550,중형 승합,2021-01-03 오후 1:18:12,2021-01-03 오후 1:30:47,2021-01-03 오후 1:42:14,강동구,고덕제1동,종로구,이화동
275889,275889,5755,중형승합,2021-01-03 오후 1:19:00,2021-01-03 오후 1:27:44,2021-01-03 오후 1:40:59,동대문구,답십리제2동,은평구,대조동
275890,275890,3562,중형 승합,2021-01-03 오후 1:19:00,2021-01-03 오후 1:26:20,2021-01-03 오후 1:51:02,은평구,신사제2동,은평구,대조동
275891,275891,808,중형승합,2021-01-03 오후 1:20:00,2021-01-03 오후 1:28:58,2021-01-03 오후 1:34:40,강서구,화곡제1동,양천구,신정7동

### Ridetime 탑승시간

In [187]:
# '오전','오후' 명칭 없애고 24시간제로 변환하기
df['am'] = pd.to_datetime(df[df['ridetime'].str.contains('오전',na = False)]['ridetime'].str.replace('오전',''))
df['pm'] = pd.to_datetime(df[df['ridetime'].str.contains('오후',na = False)]['ridetime'].str.replace('오후','')) + dt.timedelta(hours = 12)
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,NaT
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,NaT
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,NaT
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,NaT
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,NaT

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407613 entries, 0 to 407612
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   407613 non-null  int64
 1   no           407613 non-null  int64
 2   cartype      407603 non-null  object
 3   receipttime  407613 non-null  object
 4   settime      407583 non-null  object
 5   ridetime     407603 non-null  object
 6   startpos1    407613 non-null  object
 7   startpos2    407613 non-null  object
 8   endpos1      407613 non-null  object
 9   endpos2      407613 non-null  object
 10  am           406366 non-null  datetime64[ns]
 11  pm           1237 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 37.3+ MB

null값 확인하기

In [189]:
print(df['am'].isnull().sum())
print(df['pm'].isnull().sum())

1247
406376

In [190]:
df[df['pm'].notnull()]

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
64242,64242,1567,중형 승합,2018-09-12 오전 12:10:00,2018-09-11 오후 11:58:30,2018-09-11 오후 11:59:32,강동구,천호제3동,강북구,수유제3동,NaT,2018-09-11 23:59:32
66484,66484,1194,중형승합,2018-09-19 오전 12:25:00,2018-09-18 오후 11:56:12,2018-09-18 오후 11:58:00,하남시,신장2동,강동구,천호제3동,NaT,2018-09-18 23:58:00
68475,68475,7582,중형승합,2018-10-02 오전 12:30:00,2018-10-01 오후 11:57:28,2018-10-01 오후 11:57:42,하남시,풍산동,강동구,천호제3동,NaT,2018-10-01 23:57:42
70716,70716,7633,중형승합,2018-10-10 오전 12:15:00,2018-10-09 오후 11:44:13,2018-10-09 오후 11:44:49,하남시,풍산동,강동구,천호제3동,NaT,2018-10-09 23:44:49
75449,75449,9543,중형승합,2018-10-26 오전 12:30:00,2018-10-25 오후 10:52:59,2018-10-25 오후 11:49:00,강서구,가양제3동,마포구,합정동,NaT,2018-10-25 23:49:00
...,...,...,...,...,...,...,...,...,...,...,...,...
353829,353829,8085,중형 승합,2021-11-28 오전 12:03:00,2021-11-27 오후 11:41:27,2021-11-27 오후 11:41:51,남양주시,호평동,노원구,중계4동,NaT,2021-11-27 23:41:51
374247,374247,7906,중형승합,2022-02-01 오전 12:05:00,2022-01-31 오후 11:44:29,2022-01-31 오후 11:46:41,성남시수정구,신흥3동,영등포구,대림제1동,NaT,2022-01-31 23:46:41
383709,383709,8094,중형 승합,2022-03-25 오전 12:08:00,2022-03-24 오후 11:39:42,2022-03-24 오후 11:39:51,고양시덕양구,대덕동,은평구,구산동,NaT,2022-03-24 23:39:51
402135,402135,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06
402136,402136,7659,중형승합,2022-06-03,2022-06-02 오후 11:58:54,2022-06-02 오후 11:59:06,중랑구,묵제2동,양천구,목3동,NaT,2022-06-02 23:59:06

am, pm 둘다 null값 존재 확인

In [191]:
print(len(df[df['am'].isnull() == df['pm'].isnull()]))
df[df['am'].isnull() == df['pm'].isnull()] ## ridetime null값 인값 존재 -> 차량 정보 누락 10행 제거

10

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
355291,355291,0,NaN,2021-11-03 오전 7:05:00,2021-11-03 오전 7:13:12,NaN,강동구,암사제3동,동대문구,답십리제3동,NaT,NaT
355510,355510,0,NaN,2021-11-17 오전 7:00:00,2021-11-17 오전 7:09:02,NaN,노원구,중계2.3동,종로구,종로1.2.3.4가동,NaT,NaT
355938,355938,0,NaN,2021-11-02 오전 7:00:00,2021-11-02 오전 7:00:57,NaN,용산구,이촌제1동,서초구,반포4동,NaT,NaT
368804,368804,0,NaN,2022-01-31 오전 7:00:00,2022-01-31 오전 7:02:42,NaN,서대문구,홍은제2동,마포구,대흥동,NaT,NaT
377905,377905,0,NaN,2022-02-20 오전 9:26:00,2022-02-20 오전 9:35:58,NaN,강동구,길동,성동구,마장동,NaT,NaT
379979,379979,0,NaN,2022-03-07 오전 4:17:00,2022-03-07 오전 4:25:05,NaN,광진구,중곡제4동,마포구,서교동,NaT,NaT
394915,394915,0,NaN,2022-05-14 오전 12:06:00,2022-05-14 오전 12:08:51,NaN,동대문구,전농제2동,강북구,번제1동,NaT,NaT
400525,400525,0,NaN,2022-05-31 오전 7:00:00,2022-05-31 오전 7:04:29,NaN,양천구,목4동,구로구,구로제2동,NaT,NaT
404931,404931,0,NaN,2022-06-06 오전 7:00:00,2022-06-06 오전 7:08:49,NaN,강서구,등촌제3동,은평구,구산동,NaT,NaT
406663,406663,0,NaN,2022-06-25 오전 7:00:00,2022-06-25 오전 7:08:49,NaN,노원구,상계10동,동대문구,전농제2동,NaT,NaT

In [192]:
df = df.dropna(subset=['am', 'pm'], how='all') 
df #407613 -> 407603

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,NaT
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,NaT
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,NaT
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,NaT
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
407608,407608,8579,대형 승용,2022-06-24 오전 7:00:00,2022-06-24 오전 6:54:20,2022-06-24 오전 7:17:08,성북구,돈암제2동,강남구,대치4동,2022-06-24 07:17:08,NaT
407609,407609,8006,중형 승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:07:58,2022-06-24 오전 7:42:04,은평구,구산동,은평구,구산동,2022-06-24 07:42:04,NaT
407610,407610,8261,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:04:58,2022-06-24 오전 7:16:19,노원구,상계8동,영등포구,영등포동,2022-06-24 07:16:19,NaT
407611,407611,1558,중형 승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:03:25,2022-06-24 오전 7:27:10,성북구,길음제1동,강북구,번제1동,2022-06-24 07:27:10,NaT
407612,407612,5725,중형승합,2022-06-24 오전 7:00:00,2022-06-24 오전 7:10:22,2022-06-24 오전 7:20:46,강동구,천호제2동,강동구,명일제1동,2022-06-24 07:20:46,NaT

am, pm 합치기

In [193]:
# df['am'][0] + df['pm'][0] ## NaT는 연산이 불가능 하므로 0으로 대체

In [194]:
dt.timedelta(hours=0)

datetime.timedelta(0)

In [195]:
df['am'] = df['am'].fillna(dt.timedelta(hours=0))
df['pm'] = df['pm'].fillna(dt.timedelta(hours=0))

In [196]:
df['am'][0] + df['pm'][0] #timestamp로 합쳐지는 것 확인

Timestamp('2018-01-23 12:34:08')

In [197]:
%%time

승차_val = []
for i in range(len(df)):
    try: 
        val = df['am'][i] + df['pm'][i]
        승차_val.append(val)
    except:
        승차_val.append(dt.timedelta(hours=0))

CPU times: user 4.22 s, sys: 72.2 ms, total: 4.29 s
Wall time: 4.32 s

In [198]:
승차_val

[Timestamp('2018-01-23 12:34:08'),
 Timestamp('2018-01-23 01:19:22'),
 Timestamp('2018-01-23 12:17:39'),
 Timestamp('2018-01-23 01:09:33'),
 Timestamp('2018-01-23 02:06:53'),
 Timestamp('2018-01-23 01:55:30'),
 Timestamp('2018-01-23 02:05:23'),
 Timestamp('2018-01-23 02:56:38'),
 Timestamp('2018-01-23 02:13:05'),
 Timestamp('2018-01-23 03:00:01'),
 Timestamp('2018-01-23 03:15:54'),
 Timestamp('2018-01-23 03:06:05'),
 Timestamp('2018-01-23 03:12:44'),
 Timestamp('2018-01-23 03:16:55'),
 Timestamp('2018-01-23 02:49:05'),
 Timestamp('2018-01-23 03:25:08'),
 Timestamp('2018-01-23 03:28:01'),
 Timestamp('2018-01-23 03:31:53'),
 Timestamp('2018-01-23 03:45:23'),
 Timestamp('2018-01-23 03:55:57'),
 Timestamp('2018-01-23 04:00:11'),
 Timestamp('2018-01-23 04:34:42'),
 Timestamp('2018-01-23 04:30:38'),
 Timestamp('2018-01-23 04:18:03'),
 Timestamp('2018-01-23 04:49:47'),
 Timestamp('2018-01-23 04:47:02'),
 Timestamp('2018-01-23 07:16:34'),
 Timestamp('2018-01-23 04:43:09'),
 Timestamp('2018-01-23 04:44:27'),
 Timestamp('2018-01-23 05:09:18'),
 Timestamp('2018-01-23 04:56:19'),
 Timestamp('2018-01-23 05:06:18'),
 Timestamp('2018-01-23 05:56:15'),
 Timestamp('2018-01-23 05:28:43'),
 Timestamp('2018-01-23 04:55:02'),
 Timestamp('2018-01-23 05:27:39'),
 Timestamp('2018-01-23 06:10:17'),
 Timestamp('2018-01-23 07:28:07'),
 Timestamp('2018-01-23 07:11:02'),
 Timestamp('2018-01-23 04:52:49'),
 Timestamp('2018-01-23 05:46:23'),
 Timestamp('2018-01-23 05:46:28'),
 Timestamp('2018-01-23 07:20:34'),
 Timestamp('2018-01-23 07:23:31'),
 Timestamp('2018-01-23 07:28:14'),
 Timestamp('2018-01-23 05:33:20'),
 Timestamp('2018-01-23 07:22:18'),
 Timestamp('2018-01-23 07:18:46'),
 Timestamp('2018-01-23 05:30:13'),
 Timestamp('2018-01-23 05:35:59'),
 Timestamp('2018-01-23 05:35:12'),
 Timestamp('2018-01-23 07:42:11'),
 Timestamp('2018-01-23 07:42:11'),
 Timestamp('2018-01-23 07:22:10'),
 Timestamp('2018-01-23 07:12:21'),
 Timestamp('2018-01-23 07:19:48'),
 Timestamp('2018-01-23 07:25:15'),
 Timestamp('2018-01-23 07:20:58'),
 Timestamp('2018-01-23 07:17:03'),
 Timestamp('2018-01-23 06:30:48'),
 Timestamp('2018-01-23 07:20:30'),
 Timestamp('2018-01-23 08:12:01'),
 Timestamp('2018-01-23 07:23:04'),
 Timestamp('2018-01-23 07:20:39'),
 Timestamp('2018-01-23 07:26:08'),
 Timestamp('2018-01-23 07:17:05'),
 Timestamp('2018-01-23 07:20:05'),
 Timestamp('2018-01-23 07:17:45'),
 Timestamp('2018-01-23 06:58:44'),
 Timestamp('2018-01-23 05:55:27'),
 Timestamp('2018-01-23 07:27:37'),
 Timestamp('2018-01-23 07:33:07'),
 Timestamp('2018-01-23 06:57:19'),
 Timestamp('2018-01-23 09:20:06'),
 Timestamp('2018-01-23 07:26:22'),
 Timestamp('2018-01-23 06:57:53'),
 Timestamp('2018-01-23 07:25:38'),
 Timestamp('2018-01-23 07:30:55'),
 Timestamp('2018-01-23 07:30:55'),
 Timestamp('2018-01-23 05:58:30'),
 Timestamp('2018-01-23 06:25:02'),
 Timestamp('2018-01-23 07:46:41'),
 Timestamp('2018-01-23 07:36:54'),
 Timestamp('2018-01-23 07:25:25'),
 Timestamp('2018-01-23 07:52:06'),
 Timestamp('2018-01-23 07:36:13'),
 Timestamp('2018-01-23 06:58:34'),
 Timestamp('2018-01-23 07:40:48'),
 Timestamp('2018-01-23 07:32:59'),
 Timestamp('2018-01-23 07:26:59'),
 Timestamp('2018-01-23 07:30:03'),
 Timestamp('2018-01-23 07:27:16'),
 Timestamp('2018-01-23 07:18:07'),
 Timestamp('2018-01-23 07:21:49'),
 Timestamp('2018-01-23 07:32:27'),
 Timestamp('2018-01-23 08:06:37'),
 Timestamp('2018-01-23 07:54:41'),
 Timestamp('2018-01-23 07:21:59'),
 Timestamp('2018-01-23 07:15:55'),
 Timestamp('2018-01-23 07:24:05'),
 Timestamp('2018-01-23 07:20:15'),
 Timestamp('2018-01-23 07:22:38'),
 Timestamp('2018-01-23 07:59:47'),
 Timestamp('2018-01-23 07:35:50'),
 Timestamp('2018-01-23 07:10:43'),
 Timestamp('2018-01-23 07:27:15'),
 Timestamp('2018-01-23 07:40:15'),
 Timestamp('2018-01-23 07:55:24'),
 Timestamp('2018-01-23 07:53:01'),
 Timestamp('2018-01-23 07:27:35'),
 Timestamp('2018-01-23 07:49:22'),
 Timestamp('2018-01-23 08:15:49'),
 Timestamp('2018-01-23 07:15:28'),
 Timestamp('2018-01-23 07:28:37'),
 Timestamp('2018-01-23 07:26:04'),
 Timestamp('2018-01-23 07:58:33'),
 Timestamp('2018-01-23 07:20:28'),
 Timestamp('2018-01-23 07:23:23'),
 Timestamp('2018-01-23 08:20:25'),
 Timestamp('2018-01-23 08:20:25'),
 Timestamp('2018-01-23 07:25:39'),
 Timestamp('2018-01-23 07:21:37'),
 Timestamp('2018-01-23 07:31:09'),
 Timestamp('2018-01-23 07:35:01'),
 Timestamp('2018-01-23 07:14:47'),
 Timestamp('2018-01-23 07:27:10'),
 Timestamp('2018-01-23 07:24:59'),
 Timestamp('2018-01-23 07:30:13'),
 Timestamp('2018-01-23 07:56:46'),
 Timestamp('2018-01-23 06:57:37'),
 Timestamp('2018-01-23 07:53:02'),
 Timestamp('2018-01-23 07:53:02'),
 Timestamp('2018-01-23 07:26:21'),
 Timestamp('2018-01-23 07:28:40'),
 Timestamp('2018-01-23 07:14:20'),
 Timestamp('2018-01-23 07:54:52'),
 Timestamp('2018-01-23 07:28:07'),
 Timestamp('2018-01-23 07:42:12'),
 Timestamp('2018-01-23 07:23:08'),
 Timestamp('2018-01-23 07:08:27'),
 Timestamp('2018-01-23 07:23:25'),
 Timestamp('2018-01-23 08:09:08'),
 Timestamp('2018-01-23 07:21:20'),
 Timestamp('2018-01-23 08:30:28'),
 Timestamp('2018-01-23 07:24:19'),
 Timestamp('2018-01-23 07:34:17'),
 Timestamp('2018-01-23 07:19:01'),
 Timestamp('2018-01-23 07:14:15'),
 Timestamp('2018-01-23 07:38:42'),
 Timestamp('2018-01-23 07:23:40'),
 Timestamp('2018-01-23 07:37:37'),
 Timestamp('2018-01-23 07:13:25'),
 Timestamp('2018-01-23 07:22:05'),
 Timestamp('2018-01-23 07:22:05'),
 Timestamp('2018-01-23 08:18:21'),
 Timestamp('2018-01-23 08:18:21'),
 Timestamp('2018-01-23 07:32:56'),
 Timestamp('2018-01-23 07:32:56'),
 Timestamp('2018-01-23 07:19:30'),
 Timestamp('2018-01-23 07:19:47'),
 Timestamp('2018-01-23 07:32:46'),
 Timestamp('2018-01-23 07:50:53'),
 Timestamp('2018-01-23 08:44:18'),
 Timestamp('2018-01-23 07:52:58'),
 Timestamp('2018-01-23 07:09:41'),
 Timestamp('2018-01-23 07:24:20'),
 Timestamp('2018-01-23 07:12:01'),
 Timestamp('2018-01-23 07:29:09'),
 Timestamp('2018-01-23 07:29:29'),
 Timestamp('2018-01-23 07:21:43'),
 Timestamp('2018-01-23 08:19:35'),
 Timestamp('2018-01-23 07:29:34'),
 Timestamp('2018-01-23 07:44:20'),
 Timestamp('2018-01-23 07:44:20'),
 Timestamp('2018-01-23 07:38:48'),
 Timestamp('2018-01-23 07:22:07'),
 Timestamp('2018-01-23 07:25:40'),
 Timestamp('2018-01-23 07:25:54'),
 Timestamp('2018-01-23 07:28:06'),
 Timestamp('2018-01-23 07:28:06'),
 Timestamp('2018-01-23 07:17:40'),
 Timestamp('2018-01-23 07:34:40'),
 Timestamp('2018-01-23 07:25:51'),
 Timestamp('2018-01-23 07:13:35'),
 Timestamp('2018-01-23 08:24:12'),
 Timestamp('2018-01-23 07:25:03'),
 Timestamp('2018-01-23 07:11:29'),
 Timestamp('2018-01-23 07:29:53'),
 Timestamp('2018-01-23 07:24:59'),
 Timestamp('2018-01-23 07:24:59'),
 Timestamp('2018-01-23 07:36:36'),
 Timestamp('2018-01-23 07:24:19'),
 Timestamp('2018-01-23 07:21:12'),
 Timestamp('2018-01-23 07:14:02'),
 Timestamp('2018-01-23 07:12:14'),
 Timestamp('2018-01-23 07:24:42'),
 Timestamp('2018-01-23 07:18:57'),
 Timestamp('2018-01-23 07:25:01'),
 Timestamp('2018-01-23 07:27:30'),
 Timestamp('2018-01-23 07:22:46'),
 Timestamp('2018-01-23 07:17:27'),
 Timestamp('2018-01-23 07:32:02'),
 Timestamp('2018-01-23 08:03:20'),
 Timestamp('2018-01-23 07:21:15'),
 Timestamp('2018-01-23 07:51:30'),
 Timestamp('2018-01-23 07:26:55'),
 Timestamp('2018-01-23 07:23:18'),
 Timestamp('2018-01-23 07:44:34'),
 Timestamp('2018-01-23 07:28:47'),
 Timestamp('2018-01-23 07:19:11'),
 Timestamp('2018-01-23 07:25:19'),
 Timestamp('2018-01-23 07:29:30'),
 Timestamp('2018-01-23 07:34:36'),
 Timestamp('2018-01-23 07:26:23'),
 Timestamp('2018-01-23 07:31:38'),
 Timestamp('2018-01-23 07:27:16'),
 Timestamp('2018-01-23 07:26:32'),
 Timestamp('2018-01-23 07:20:13'),
 Timestamp('2018-01-23 07:32:51'),
 Timestamp('2018-01-23 07:24:07'),
 Timestamp('2018-01-23 07:18:56'),
 Timestamp('2018-01-23 07:24:09'),
 Timestamp('2018-01-23 07:23:09'),
 Timestamp('2018-01-23 07:38:37'),
 Timestamp('2018-01-23 07:09:14'),
 Timestamp('2018-01-23 07:21:13'),
 Timestamp('2018-01-23 08:04:01'),
 Timestamp('2018-01-23 07:12:56'),
 Timestamp('2018-01-23 07:32:44'),
 Timestamp('2018-01-23 08:28:06'),
 Timestamp('2018-01-23 07:16:59'),
 Timestamp('2018-01-23 07:28:43'),
 Timestamp('2018-01-23 07:24:22'),
 Timestamp('2018-01-23 09:41:06'),
 Timestamp('2018-01-23 07:22:01'),
 Timestamp('2018-01-23 07:17:23'),
 Timestamp('2018-01-23 08:16:38'),
 Timestamp('2018-01-23 08:26:18'),
 Timestamp('2018-01-23 08:26:18'),
 Timestamp('2018-01-23 07:48:56'),
 Timestamp('2018-01-23 07:30:18'),
 Timestamp('2018-01-23 08:18:18'),
 Timestamp('2018-01-23 07:48:48'),
 Timestamp('2018-01-23 08:21:36'),
 Timestamp('2018-01-23 07:55:03'),
 Timestamp('2018-01-23 07:57:24'),
 Timestamp('2018-01-23 08:29:03'),
 Timestamp('2018-01-23 07:34:09'),
 Timestamp('2018-01-23 08:34:14'),
 Timestamp('2018-01-22 01:52:16'),
 Timestamp('2018-01-22 01:43:33'),
 Timestamp('2018-01-22 02:25:53'),
 Timestamp('2018-01-22 02:55:13'),
 Timestamp('2018-01-22 02:08:09'),
 Timestamp('2018-01-22 02:40:14'),
 Timestamp('2018-01-22 03:00:29'),
 Timestamp('2018-01-22 02:57:43'),
 Timestamp('2018-01-22 03:26:42'),
 Timestamp('2018-01-22 03:27:24'),
 Timestamp('2018-01-22 03:55:34'),
 Timestamp('2018-01-22 03:58:14'),
 Timestamp('2018-01-22 03:58:09'),
 Timestamp('2018-01-22 03:50:45'),
 Timestamp('2018-01-22 05:45:55'),
 Timestamp('2018-01-22 04:26:20'),
 Timestamp('2018-01-22 04:34:12'),
 Timestamp('2018-01-22 07:30:21'),
 Timestamp('2018-01-22 04:36:17'),
 Timestamp('2018-01-22 07:15:12'),
 Timestamp('2018-01-22 04:29:58'),
 Timestamp('2018-01-22 07:18:51'),
 Timestamp('2018-01-22 06:07:56'),
 Timestamp('2018-01-22 07:21:40'),
 Timestamp('2018-01-22 04:46:01'),
 Timestamp('2018-01-22 04:41:00'),
 Timestamp('2018-01-22 04:47:46'),
 Timestamp('2018-01-22 07:26:55'),
 Timestamp('2018-01-22 04:56:33'),
 Timestamp('2018-01-22 07:30:55'),
 Timestamp('2018-01-22 04:58:42'),
 Timestamp('2018-01-22 05:16:34'),
 Timestamp('2018-01-22 05:20:15'),
 Timestamp('2018-01-22 04:59:10'),
 Timestamp('2018-01-22 05:00:32'),
 Timestamp('2018-01-22 05:53:58'),
 Timestamp('2018-01-22 07:15:43'),
 Timestamp('2018-01-22 05:07:22'),
 Timestamp('2018-01-22 07:15:13'),
 Timestamp('2018-01-22 05:39:41'),
 Timestamp('2018-01-22 07:16:14'),
 Timestamp('2018-01-22 07:27:12'),
 Timestamp('2018-01-22 07:12:45'),
 Timestamp('2018-01-22 05:45:31'),
 Timestamp('2018-01-22 09:00:22'),
 Timestamp('2018-01-22 05:42:04'),
 Timestamp('2018-01-22 06:08:02'),
 Timestamp('2018-01-22 06:09:03'),
 Timestamp('2018-01-22 07:18:35'),
 Timestamp('2018-01-22 07:15:17'),
 Timestamp('2018-01-22 07:18:00'),
 Timestamp('2018-01-22 06:24:42'),
 Timestamp('2018-01-22 07:22:13'),
 Timestamp('2018-01-22 07:19:52'),
 Timestamp('2018-01-22 05:28:02'),
 Timestamp('2018-01-22 05:54:26'),
 Timestamp('2018-01-22 06:14:12'),
 Timestamp('2018-01-22 05:45:45'),
 Timestamp('2018-01-22 07:17:04'),
 Timestamp('2018-01-22 07:21:14'),
 Timestamp('2018-01-22 07:22:12'),
 Timestamp('2018-01-22 07:47:45'),
 Timestamp('2018-01-22 07:03:46'),
 Timestamp('2018-01-22 06:24:26'),
 Timestamp('2018-01-22 07:06:52'),
 Timestamp('2018-01-22 07:17:18'),
 Timestamp('2018-01-22 07:38:29'),
 Timestamp('2018-01-22 07:10:05'),
 Timestamp('2018-01-22 07:31:02'),
 Timestamp('2018-01-22 07:16:38'),
 Timestamp('2018-01-22 07:15:05'),
 Timestamp('2018-01-22 07:29:02'),
 Timestamp('2018-01-22 07:21:47'),
 Timestamp('2018-01-22 07:28:53'),
 Timestamp('2018-01-22 07:02:50'),
 Timestamp('2018-01-22 07:31:47'),
 Timestamp('2018-01-22 07:16:05'),
 Timestamp('2018-01-22 07:26:53'),
 Timestamp('2018-01-22 07:30:31'),
 Timestamp('2018-01-22 07:23:47'),
 Timestamp('2018-01-22 07:35:22'),
 Timestamp('2018-01-22 07:23:28'),
 Timestamp('2018-01-22 07:11:56'),
 Timestamp('2018-01-22 07:11:56'),
 Timestamp('2018-01-22 07:41:50'),
 Timestamp('2018-01-22 07:43:45'),
 Timestamp('2018-01-22 07:25:14'),
 Timestamp('2018-01-22 07:23:09'),
 Timestamp('2018-01-22 07:26:44'),
 Timestamp('2018-01-22 07:58:54'),
 Timestamp('2018-01-22 08:01:14'),
 Timestamp('2018-01-22 07:23:37'),
 Timestamp('2018-01-22 07:18:42'),
 Timestamp('2018-01-22 07:07:54'),
 Timestamp('2018-01-22 07:21:28'),
 Timestamp('2018-01-22 08:11:13'),
 Timestamp('2018-01-22 07:23:27'),
 Timestamp('2018-01-22 07:09:48'),
 Timestamp('2018-01-22 07:58:17'),
 Timestamp('2018-01-22 07:16:48'),
 Timestamp('2018-01-22 07:16:48'),
 Timestamp('2018-01-22 07:29:01'),
 Timestamp('2018-01-22 07:47:24'),
 Timestamp('2018-01-22 08:29:25'),
 Timestamp('2018-01-22 07:25:14'),
 Timestamp('2018-01-22 07:22:20'),
 Timestamp('2018-01-22 07:24:47'),
 Timestamp('2018-01-22 07:22:37'),
 Timestamp('2018-01-22 07:37:34'),
 Timestamp('2018-01-22 07:23:32'),
 Timestamp('2018-01-22 07:35:26'),
 Timestamp('2018-01-22 07:18:21'),
 Timestamp('2018-01-22 07:22:55'),
 Timestamp('2018-01-22 07:32:31'),
 Timestamp('2018-01-22 08:02:52'),
 Timestamp('2018-01-22 07:29:44'),
 Timestamp('2018-01-22 07:20:00'),
 Timestamp('2018-01-22 07:16:47'),
 Timestamp('2018-01-22 07:22:56'),
 Timestamp('2018-01-22 07:55:06'),
 Timestamp('2018-01-22 07:20:01'),
 Timestamp('2018-01-22 06:58:38'),
 Timestamp('2018-01-22 07:18:49'),
 Timestamp('2018-01-22 07:16:27'),
 Timestamp('2018-01-22 07:19:55'),
 Timestamp('2018-01-22 07:17:56'),
 Timestamp('2018-01-22 08:06:12'),
 Timestamp('2018-01-22 07:26:51'),
 Timestamp('2018-01-22 08:18:13'),
 Timestamp('2018-01-22 07:30:26'),
 Timestamp('2018-01-22 07:30:26'),
 Timestamp('2018-01-22 07:52:36'),
 Timestamp('2018-01-22 07:24:11'),
 Timestamp('2018-01-22 07:36:11'),
 Timestamp('2018-01-22 07:23:03'),
 Timestamp('2018-01-22 07:36:11'),
 Timestamp('2018-01-22 07:16:40'),
 Timestamp('2018-01-22 07:23:51'),
 Timestamp('2018-01-22 07:12:44'),
 Timestamp('2018-01-22 08:11:05'),
 Timestamp('2018-01-22 08:11:05'),
 Timestamp('2018-01-22 07:23:43'),
 Timestamp('2018-01-22 07:23:43'),
 Timestamp('2018-01-22 07:15:20'),
 Timestamp('2018-01-22 07:24:19'),
 Timestamp('2018-01-22 07:25:10'),
 Timestamp('2018-01-22 07:25:55'),
 Timestamp('2018-01-22 07:59:03'),
 Timestamp('2018-01-22 07:28:47'),
 Timestamp('2018-01-22 07:15:42'),
 Timestamp('2018-01-22 07:59:31'),
 Timestamp('2018-01-22 07:26:39'),
 Timestamp('2018-01-22 07:42:57'),
 Timestamp('2018-01-22 07:28:02'),
 Timestamp('2018-01-22 08:12:23'),
 Timestamp('2018-01-22 07:23:03'),
 Timestamp('2018-01-22 07:19:09'),
 Timestamp('2018-01-22 07:46:37'),
 Timestamp('2018-01-22 07:17:29'),
 Timestamp('2018-01-22 07:25:01'),
 Timestamp('2018-01-22 07:55:56'),
 Timestamp('2018-01-22 07:50:12'),
 Timestamp('2018-01-22 08:17:57'),
 Timestamp('2018-01-22 07:19:26'),
 Timestamp('2018-01-22 07:18:08'),
 Timestamp('2018-01-22 07:10:49'),
 Timestamp('2018-01-22 07:13:16'),
 Timestamp('2018-01-22 07:23:37'),
 Timestamp('2018-01-22 07:25:27'),
 Timestamp('2018-01-22 07:50:33'),
 Timestamp('2018-01-22 07:50:33'),
 Timestamp('2018-01-22 08:05:43'),
 Timestamp('2018-01-22 07:23:24'),
 Timestamp('2018-01-22 07:11:54'),
 Timestamp('2018-01-22 07:19:00'),
 Timestamp('2018-01-22 07:34:35'),
 Timestamp('2018-01-22 08:55:35'),
 Timestamp('2018-01-22 07:10:44'),
 Timestamp('2018-01-22 07:23:44'),
 Timestamp('2018-01-22 07:29:51'),
 Timestamp('2018-01-22 08:26:02'),
 Timestamp('2018-01-22 07:50:12'),
 Timestamp('2018-01-22 07:12:54'),
 Timestamp('2018-01-22 07:50:12'),
 Timestamp('2018-01-22 07:17:02'),
 Timestamp('2018-01-22 07:22:52'),
 Timestamp('2018-01-22 08:46:23'),
 Timestamp('2018-01-22 07:23:39'),
 Timestamp('2018-01-22 07:14:36'),
 Timestamp('2018-01-22 07:32:33'),
 Timestamp('2018-01-22 08:16:52'),
 Timestamp('2018-01-22 07:35:15'),
 Timestamp('2018-01-22 07:23:53'),
 Timestamp('2018-01-22 07:25:54'),
 Timestamp('2018-01-22 08:26:58'),
 Timestamp('2018-01-22 07:25:55'),
 Timestamp('2018-01-22 07:14:30'),
 Timestamp('2018-01-22 07:29:30'),
 Timestamp('2018-01-22 07:51:39'),
 Timestamp('2018-01-22 07:21:47'),
 Timestamp('2018-01-22 07:40:00'),
 Timestamp('2018-01-22 07:34:20'),
 Timestamp('2018-01-22 07:33:05'),
 Timestamp('2018-01-22 08:32:50'),
 Timestamp('2018-01-22 07:28:04'),
 Timestamp('2018-01-22 07:07:48'),
 Timestamp('2018-01-22 07:32:00'),
 Timestamp('2018-01-22 07:53:36'),
 Timestamp('2018-01-22 07:12:38'),
 Timestamp('2018-01-22 07:15:27'),
 Timestamp('2018-01-22 07:17:54'),
 Timestamp('2018-01-22 07:22:05'),
 Timestamp('2018-01-22 07:21:05'),
 Timestamp('2018-01-22 08:28:20'),
 Timestamp('2018-01-22 07:20:59'),
 Timestamp('2018-01-22 07:14:34'),
 Timestamp('2018-01-22 07:18:37'),
 Timestamp('2018-01-22 07:50:37'),
 Timestamp('2018-01-22 07:26:27'),
 Timestamp('2018-01-22 07:18:05'),
 Timestamp('2018-01-22 07:41:13'),
 Timestamp('2018-01-22 08:00:41'),
 Timestamp('2018-01-22 07:24:38'),
 Timestamp('2018-01-22 07:29:08'),
 Timestamp('2018-01-22 07:44:04'),
 Timestamp('2018-01-22 07:23:08'),
 Timestamp('2018-01-22 07:23:08'),
 Timestamp('2018-01-22 07:23:03'),
 Timestamp('2018-01-22 07:46:43'),
 Timestamp('2018-01-22 07:17:11'),
 Timestamp('2018-01-22 07:18:15'),
 Timestamp('2018-01-22 07:22:37'),
 Timestamp('2018-01-22 07:28:02'),
 Timestamp('2018-01-22 08:42:53'),
 Timestamp('2018-01-22 07:36:16'),
 Timestamp('2018-01-22 08:39:27'),
 Timestamp('2018-01-22 07:45:35'),
 Timestamp('2018-01-22 07:29:12'),
 Timestamp('2018-01-22 07:28:22'),
 Timestamp('2018-01-22 08:24:42'),
 Timestamp('2018-01-22 07:51:14'),
 Timestamp('2018-01-22 08:13:53'),
 Timestamp('2018-01-22 08:07:25'),
 Timestamp('2018-01-22 08:53:27'),
 Timestamp('2018-01-22 07:56:06'),
 Timestamp('2018-01-22 08:23:26'),
 Timestamp('2018-01-22 08:06:32'),
 Timestamp('2018-01-22 08:05:37'),
 Timestamp('2018-01-22 08:33:11'),
 Timestamp('2018-01-20 01:18:31'),
 Timestamp('2018-01-20 01:24:47'),
 Timestamp('2018-01-20 01:24:47'),
 Timestamp('2018-01-20 01:56:41'),
 Timestamp('2018-01-20 02:28:59'),
 Timestamp('2018-01-20 03:05:15'),
 Timestamp('2018-01-20 03:50:02'),
 Timestamp('2018-01-20 02:53:57'),
 Timestamp('2018-01-20 02:53:19'),
 Timestamp('2018-01-20 03:12:00'),
 Timestamp('2018-01-20 03:15:35'),
 Timestamp('2018-01-20 04:18:11'),
 Timestamp('2018-01-20 04:12:35'),
 Timestamp('2018-01-20 03:40:46'),
 Timestamp('2018-01-20 03:38:06'),
 Timestamp('2018-01-20 03:54:57'),
 Timestamp('2018-01-20 04:23:31'),
 Timestamp('2018-01-20 03:57:24'),
 Timestamp('2018-01-20 04:22:53'),
 Timestamp('2018-01-20 04:18:26'),
 Timestamp('2018-01-20 04:57:37'),
 Timestamp('2018-01-20 05:35:26'),
 Timestamp('2018-01-20 04:41:20'),
 Timestamp('2018-01-20 04:54:38'),
 Timestamp('2018-01-20 04:49:57'),
 Timestamp('2018-01-20 07:33:19'),
 Timestamp('2018-01-20 04:54:05'),
 Timestamp('2018-01-20 05:01:33'),
 Timestamp('2018-01-20 04:57:59'),
 Timestamp('2018-01-20 05:37:21'),
 Timestamp('2018-01-20 07:15:31'),
 Timestamp('2018-01-20 05:27:56'),
 Timestamp('2018-01-20 07:14:12'),
 Timestamp('2018-01-20 07:24:24'),
 Timestamp('2018-01-20 05:36:04'),
 Timestamp('2018-01-20 05:25:52'),
 Timestamp('2018-01-20 05:44:00'),
 Timestamp('2018-01-20 07:58:41'),
 Timestamp('2018-01-20 05:51:41'),
 Timestamp('2018-01-20 07:28:16'),
 Timestamp('2018-01-20 07:26:55'),
 Timestamp('2018-01-20 07:15:31'),
 Timestamp('2018-01-20 07:22:47'),
 Timestamp('2018-01-20 05:57:50'),
 Timestamp('2018-01-20 06:06:28'),
 Timestamp('2018-01-20 07:25:54'),
 Timestamp('2018-01-20 07:32:46'),
 Timestamp('2018-01-20 05:55:51'),
 Timestamp('2018-01-20 07:27:09'),
 Timestamp('2018-01-20 07:27:21'),
 Timestamp('2018-01-20 07:27:29'),
 Timestamp('2018-01-20 07:18:52'),
 Timestamp('2018-01-20 08:04:30'),
 Timestamp('2018-01-20 08:51:25'),
 Timestamp('2018-01-20 07:24:12'),
 Timestamp('2018-01-20 07:28:24'),
 Timestamp('2018-01-20 07:34:21'),
 Timestamp('2018-01-20 07:24:11'),
 Timestamp('2018-01-20 07:45:27'),
 Timestamp('2018-01-20 07:46:01'),
 Timestamp('2018-01-20 07:16:41'),
 Timestamp('2018-01-20 07:30:46'),
 Timestamp('2018-01-20 07:53:11'),
 Timestamp('2018-01-20 07:33:02'),
 Timestamp('2018-01-20 07:36:25'),
 Timestamp('2018-01-20 07:36:25'),
 Timestamp('2018-01-20 07:32:50'),
 Timestamp('2018-01-20 07:27:52'),
 Timestamp('2018-01-20 07:27:52'),
 Timestamp('2018-01-20 08:04:31'),
 Timestamp('2018-01-20 08:06:38'),
 Timestamp('2018-01-20 07:17:18'),
 Timestamp('2018-01-20 07:35:15'),

In [199]:
df['승차시간'] = 승차_val

In [200]:
df.head()

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm,승차시간
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,0:00:00,2018-01-23 12:34:08
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,0:00:00,2018-01-23 01:19:22
2,2,5804,중형승합,2018-01-23 오전 12:30:00,2018-01-23 오전 12:17:06,2018-01-23 오전 12:17:39,성북구,정릉제3동,강북구,수유제3동,2018-01-23 12:17:39,0:00:00,2018-01-23 12:17:39
3,3,7650,중형승합,2018-01-23 오전 12:47:00,2018-01-23 오전 12:51:19,2018-01-23 오전 1:09:33,구로구,고척제2동,관악구,은천동,2018-01-23 01:09:33,0:00:00,2018-01-23 01:09:33
4,4,1061,중형승합,2018-01-23 오전 1:08:00,2018-01-23 오전 1:44:17,2018-01-23 오전 2:06:53,동대문구,회기동,성북구,장위제2동,2018-01-23 02:06:53,0:00:00,2018-01-23 02:06:53

In [201]:
df[df['승차시간'] == dt.timedelta(hours=0)] ##ridetime 버젓이 있는데 승차시간 빵인건 무슨 경우??

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,am,pm,승차시간
355292,355292,7904,중형승합,2021-11-03 오전 7:05:00,2021-11-03 오전 7:17:20,2021-11-03 오전 7:38:35,노원구,하계1동,노원구,상계6.7동,2021-11-03 07:38:35,0:00:00,0:00:00
355512,355512,3625,중형승합,2021-11-17 오전 7:00:00,2021-11-17 오전 7:08:16,2021-11-17 오전 7:26:04,용산구,원효로제1동,종로구,종로1.2.3.4가동,2021-11-17 07:26:04,0:00:00,0:00:00
355941,355941,1913,중형승용,2021-11-02 오전 7:00:00,2021-11-02 오전 7:09:13,2021-11-02 오전 7:18:31,강동구,암사제3동,강동구,둔촌제2동,2021-11-02 07:18:31,0:00:00,0:00:00
368808,368808,5795,중형승합,2022-01-31 오전 7:00:00,2022-01-31 오전 7:06:16,2022-01-31 오전 7:14:28,마포구,성산제2동,마포구,망원제1동,2022-01-31 07:14:28,0:00:00,0:00:00
377910,377910,3610,중형 승합,2022-02-20 오전 9:30:00,2022-02-20 오전 9:30:50,2022-02-20 오전 9:46:56,노원구,중계1동,노원구,하계1동,2022-02-20 09:46:56,0:00:00,0:00:00
379985,379985,5753,중형승합,2022-03-07 오전 4:59:00,2022-03-07 오전 5:06:08,2022-03-07 오전 5:16:50,동작구,상도제3동,동작구,신대방제2동,2022-03-07 05:16:50,0:00:00,0:00:00
394922,394922,4984,중형 승합,2022-05-14 오전 1:04:00,2022-05-14 오전 1:06:28,2022-05-14 오전 1:06:55,마포구,공덕동,양천구,목3동,2022-05-14 01:06:55,0:00:00,0:00:00
400533,400533,1702,중형승합,2022-05-31 오전 7:00:00,2022-05-31 오전 7:08:12,2022-05-31 오전 7:24:13,성동구,왕십리도선동,부평구,일신동,2022-05-31 07:24:13,0:00:00,0:00:00
404940,404940,1653,중형승합,2022-06-06 오전 7:00:00,2022-06-06 오전 7:59:31,2022-06-06 오전 8:16:08,광진구,중곡제1동,은평구,구산동,2022-06-06 08:16:08,0:00:00,0:00:00
406673,406673,8194,중형 승합,2022-06-25 오전 7:00:00,2022-06-25 오전 7:06:50,2022-06-25 오전 7:14:38,노원구,하계2동,노원구,월계1동,2022-06-25 07:14:38,0:00:00,0:00:00

In [202]:
con = df['승차시간'] == dt.timedelta(hours=0)
df[con]['승차시간'] = pd.to_datetime(df[con]['am'])
sindx = df[con]['승차시간'].index
df.loc[sindx, '승차시간'] = pd.to_datetime(df[con]['am'])
df[df['승차시간'] == dt.timedelta(hours=0)]
df['승차시간'] = pd.to_datetime(df['승차시간'])
df = df.drop(['am','pm'], axis = 1)
df.info()

/var/folders/3k/38ll5x6d3hdf853zf6wpcxzr0000gn/T/ipykernel_55126/660156902.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[con]['승차시간'] = pd.to_datetime(df[con]['am'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407603 entries, 0 to 407612
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   407603 non-null  int64
 1   no           407603 non-null  int64
 2   cartype      407603 non-null  object
 3   receipttime  407603 non-null  object
 4   settime      407573 non-null  object
 5   ridetime     407603 non-null  object
 6   startpos1    407603 non-null  object
 7   startpos2    407603 non-null  object
 8   endpos1      407603 non-null  object
 9   endpos2      407603 non-null  object
 10  승차시간         407603 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 53.4+ MB

### settime 배차시간

In [203]:
df['settime'].str.contains('am')
df[df['settime'].isna()].head()

df_set_na = df[df['settime'].isna()]
df_set_na.to_csv('df_set_na.csv', index = False, encoding = 'utf-8')

snax = df[df['settime'].isna()].index
df = df.drop(snax)

df['am'] = pd.to_datetime(df[df['settime'].str.contains('am')]['settime'].str.replace('am', ''))
df['pm'] = pd.to_datetime(df[df['settime'].str.contains('pm')]['settime'].str.replace('pm', '')) + dt.timedelta(hours = 12)

df['pm'] = df['pm'].fillna(dt.timedelta(hours=0))
df['am'] = df['am'].fillna(dt.timedelta(hours=0))

In [204]:
%%time

승차_val = []
for i in range(len(df)):
    try: 
        val = df['pm'][i] + df['am'][i]
        승차_val.append(val)
    except:
        승차_val.append(dt.timedelta(hours=0))

CPU times: user 8.64 s, sys: 22.9 ms, total: 8.66 s
Wall time: 8.66 s

In [206]:
df['배차시간'] = 승차_val
df[df['배차시간'] == dt.timedelta(hours=0)].head(2)

,Unnamed: 0,no,cartype,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2,승차시간,am,pm,배차시간
0,0,7658,중형승합,2018-01-23 오전 12:04:00,2018-01-23 오전 12:18:42,2018-01-23 오전 12:34:08,성북구,장위제1동,동대문구,회기동,2018-01-23 12:34:08,0 days,0 days,0 days
1,1,1551,중형 승합,2018-01-23 오전 12:17:00,2018-01-23 오전 12:50:37,2018-01-23 오전 1:19:22,중랑구,면목제7동,노원구,상계1동,2018-01-23 01:19:22,0 days,0 days,0 days

In [207]:
con = df['배차시간'] == dt.timedelta(hours=0)
binx = df[con]['배차시간'].index
df.loc[binx, '배차시간'] = pd.to_datetime(df[con]['am']) 11시!!!

TypeError: dtype timedelta64[ns] cannot be converted to datetime64[ns]

In [ ]:
df['배차시간'] =pd.to_datetime(df['배차시간'])
df.info()

In [ ]:
df = df.drop(['am', 'pm'], axis=1)

참고-은디쿵디의 깃허브https://github.com/eeuunnzzyy/eeuunnzzyy/blob/main/The%20Transportation%20Vulnerable%20Project/.ipynb_checkpoints/000%20Dailydata%20Cleansing%20%26%20EDA-checkpoint.ipynb

### receipttime 예정시간

In [ ]:
df[df['receipttime'].isna()]

df['오전'] = pd.to_datetime(df[df['receipttime'].str.contains('오전')]['receipttime'].str.replace('오전', ''))
df['오후'] = pd.to_datetime(df[df['receipttime'].str.contains('오후')]['receipttime'].str.replace('오후', ''))
df['오후'] = df['오후'].fillna(datetime.timedelta(hours=0))
df['오전'] = df['오전'].fillna(datetime.timedelta(hours=0))

df_re_date = df[df['예정시간'] == datetime.timedelta(hours=0)]

dinx = df[df['예정시간'] == datetime.timedelta(hours=0)].index
df = df.drop(dinx)
df = df.drop(['오전', '오후'], axis=1)
df_cleansing2 = df[['no', 'cartype', '예정시간', '배차시간', '승차시간', 'startpos1', 'startpos2', 'endpos1', 'endpos2']]
df_cleansing2.info()

In [ ]:
%%time
요청_val = []
for i in range(len(df)):
    try: 
        val = df['오후'][i] + df['오전'][i]
        요청_val.append(val)
    except:
        요청_val.append(datetime.timedelta(hours=0))

In [ ]:
con = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오전')
con1 = df[df['예정시간'] == datetime.timedelta(hours=0)]['receipttime'].str.contains('오후')
con1[con1 == True]
Series([], Name: receipttime, dtype: bool)
einx = con[con == True].index
df.loc[einx, '예정시간'] = df.loc[einx, '오전']
df.loc[einx, '예정시간']

In [ ]:
df_cleansing2['예정시간'] = pd.to_datetime(df_cleansing2['예정시간'])
df_cleansing2.info()
# df_cleansing2.to_csv('master_cleansing_space_time.csv', index = False, encoding = 'utf-8')